<h1>Unsubscribing to an Observable</h1>
<div class="div-container">
  <div class="sub-container">
    <h2>Subscriber 1</h2>
    <hr />
    <div class="data-list" *ngFor="let x of data1">
      {{ x }}
    </div>
    <button (click)="onSubscribe1()">Subscribe</button>
    <button (click)="onUnSubscribe1()">Unsubscribe</button>
  </div>
  <div class="sub-container">
    <h2>Subscriber 2</h2>
    <hr />
    <div class="data-list" *ngFor="let x of data2">
      {{ x }}
    </div>
    <button (click)="onSubscribe2()">Subscribe</button>
    <button (click)="onUnSubscribe2()">Unsubscribe</button>
  </div>
  <div class="sub-container">
    <h2>Subscriber 3</h2>
    <hr />
    <div class="data-list" *ngFor="let x of data3">
      {{ x }}
    </div>
    <button (click)="onSubscribe3()">Subscribe</button>
    <button (click)="onUnSubscribe3()">Unsubscribe</button>
  </div>
</div>
